@import "mixins";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;

  //media quries in series
  @include respond(tab-land) {
    //max-width(1200px)
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(tab-prot) {
    //max-width(950px)
    font-size: 50%; //1rem = 8rem
  }
  @include respond(desk) {
    //min-width(1900px)
    font-size: 75%; //1rem = 12px
  }
  @include respond(bg-desk) {
    //min-width(1600px)
    font-size: 87.5%; //1rem = 14px
  }
}

body {
  box-sizing: border-box;
  position: relative;
  background-color: #070707;
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

#container {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

button {
  cursor: pointer;
  outline: none;
  margin-bottom: 5rem;
  width: 20rem;
  height: 5rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  color: white;
  background-color: #F25C54;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2rem 1rem rgba($color: #000000, $alpha: 0.2);

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    cursor: default;
    filter: brightness(30%);
  }
}
